doctype html
html(lang='zh-cmn-Hans')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    title 发布通告
    link(rel='stylesheet', href='/css/weui.css')
    link(rel='stylesheet', href='/css/noticeJob.css')
    link(rel='stylesheet', href='/css/jqueryWeui.css')
    link(rel='stylesheet', href='/css/common.css')
  body
    // <form action='' method='post' id="form" target="rfFrame">
    section(style='margin-bottom:1.8rem')
      .page.panel.js_show
        .page__bd
          .weui-cell
            .weui-cell__hd
              label.weui-label.common-input  角色名称
            .weui-cell__bd
              input.weui-input.font-color.role(name='role', type='text', placeholder='请输入')
          .weui-cell.weui-cell_select.weui-cell_select-after
            .weui-cell__hd
              label.weui-label.common-input(for='')  性别
            .weui-cell__bd
              select.weui-select.option.select_sex(name='select_sex')
                option(value='3', style='text-align: right') 不限
                option(value='1', style='text-align: right') 男
                option(value='2', style='text-align: right') 女
          .weui-cell.weui-cell_select.weui-cell_select-after
            .weui-cell__hd
              label.weui-label.common-input  年龄段
            .weui-cell__bd
              select.weui-select.option.select_age(name='select_age')
                option(value='6', style='text-align: right') 不限
                option(value='1', style='text-align: right') 婴幼儿
                option(value='2', style='text-align: right') 少年
                option(value='3', style='text-align: right') 青年
                option(value='4', style='text-align: right') 中年
                option(value='5', style='text-align: right') 老年  
          .weui-cell
            .weui-cell__hd
              label.weui-label.common-input  招募数量
            .weui-cell__bd
              input.recruit_number.weui-input.font-color(name='recruit_number', type='number', placeholder='请输入')
          .weui-cell
            .weui-cell__hd
              label.weui-label.common-input  身高(cm)
            .weui-cell__bd
              input.weui-input.font-color.height.min_height(name='height', type='number', placeholder='请输入',style='float:left;width:30%')
              span(style='float:left;margin-right:20%') -
              input.weui-input.font-color.height.max_height(name='height', type='number', placeholder='请输入',style='float:left;width:30%')
          .weui-cell.weui-cell_select.weui-cell_select-after
            .weui-cell__hd
              label.weui-label.common-input(for='')  体型
            .weui-cell__bd
              select.weui-select.option.shape(name='shape')
                option(value='0', style='text-align: right') 不限
                option(value='1', style='text-align: right') 瘦子
                option(value='2', style='text-align: right') 偏瘦
                option(value='3', style='text-align: right') 适中
                option(value='4', style='text-align: right') 健硕
                option(value='5', style='text-align: right') 胖子
          .weui-cell
            .weui-cell__hd
              label.weui-label.common-input  拍摄周期(天)
            .weui-cell__bd
              input.workingdays.weui-input.font-color(name='workingdays', type='number', placeholder='请输入')
          .weui-cell
            .weui-cell__hd
              label.weui-label.common-input  角色预算(万/天)
              p(style='color:#666;font-size:0.15rem') (对外不公布)
            .weui-cell__bd
              input.role_paycheck.weui-input.font-color(name='role_paycheck', type='number', placeholder='请输入')
          .weui-cell.add-college
            .weui-cell__hd
              label.weui-label.common-input  技能特长
            .weui-cell__bd.specialty1
          .weui-cell.add-college
            .weui-cell__hd
              label.weui-label.common-input  特征
            .weui-cell__bd.specialty2
          .weui-cells__title.common-input 人物小传
          .weui-cells.weui-cells_form
            .weui-cell
              .weui-cell__bd
                textarea.weui-textarea.actorData.describe(name='describe', placeholder='描述', rows='3')
    // </form>
    // <iframe id="rfFrame" name="rfFrame" src="about:blank" style="display:none;"></iframe>
    footer
      .page__bd.page__bd_spacing
        a#subMit.weui-btn.look-over 确定
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.cookie.js')
    script(src='/js/jqWeui.js')
    script(src='/js/rootfont.js')
    script(type='text/javascript', src='https://res.wx.qq.com/open/js/jweixin-1.0.0.js')
    script(src='https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js')
    script(type='text/javascript', src='/js/url.js')
    script.
      var production_crews_id = !{JSON.stringify(production_crews_id)};
      var production_id = !{JSON.stringify(production_id)};
      var user_id = !{JSON.stringify(user_id)};
      var openid = !{JSON.stringify(openid)};
      var roletag_id = !{JSON.stringify(roletag_id)};
      var url1=url+"/agent/a_allskilltypes/1/null";
      $.ajax({
        type : "get",
        url : url1,
        dataType : "jsonp",
        // jsonp: "jsonpCallback",
        success : function(data){
        console.log(data);
        var specialty = $(".specialty1").html();
        var length=data.length;
        for(var i=0;i<length;i++){
          specialty += '<div><input  type="checkbox" name="specialty1" value="" id="'+data[i].id+'"><label for="'+data[i].id+'">'+data[i].name+'</label></div>'
        }
          $(".specialty1").html(specialty);
        },
        error:function(){
        alert('fail');
        }
      });
      //特征
      var url2=url+"/agent/a_allfeaturetypes/1/null";
      $.ajax({
        type : "get",
        url : url2,
        dataType : "jsonp",
        // jsonp: "jsonpCallback",
        success : function(data){
         console.log(data);
          var specialty = $(".specialty2").html();
          var length=data.length;
        for(var i=0;i<length;i++){
          specialty += '<div><input  type="checkbox" name="specialty2" value="" id="'+data[i].id+'"><label for="'+data[i].id+'">'+data[i].name+'</label></div>'
        }
          $(".specialty2").html(specialty);
        },
        error:function(){
        alert('fail');
        }
      });
      //----------------获取技能特长和特征----------------------------------------------------
        
        $(".look-over").click(function(){
          var skillTag=[];
          $('input[name="specialty1"]:checked').each(function () {
            skillTag.push($(this).attr("id"))
          });
          var featureTag=[];
          $('input[name="specialty2"]:checked').each(function () {
            featureTag.push($(this).attr("id"))
          });
          var select_sex=$(".select_sex").val();
          var recruit_number=$(".recruit_number").val();
          var describe=$(".describe").val();
          var select_age=$(".select_age").val();
          var shape=$(".shape").val();
          var min_height=$(".min_height").val();
          var max_height=$(".max_height").val();
          var role=$(".role").val();
          var role_paycheck=$(".role_paycheck").val();
          var workingdays=$(".workingdays").val();
          
          var data={
              select_sex:select_sex,
              recruit_number:recruit_number,
              describe:describe,
              select_age:select_age,
              shape:shape,
              min_height:min_height,
              max_height:max_height,
              skillTag:skillTag,
              featureTag:featureTag,
              role:role,
              role_paycheck:role_paycheck,
              workingdays:workingdays

          }
          console.log(data)
          if(select_sex&&workingdays&&recruit_number&&describe&&role&&featureTag.length!=0&&skillTag.length!=0){
            var url20=url+'/WX/wx_pubulishpositiondetail/'+user_id+'/'+production_crews_id+'/'+openid+'/'+roletag_id;
          
            $.ajax({
              type : "post",
              url : url20,
              dataType : "jsonp",
              data:data,
              // jsonp: "jsonpCallback",
              success : function(data){
               console.log(data);
                window.location.href=document.referrer;
              },
              error:function(){
              alert('fail');
              }
           
         
          });
           }else{
            alert("请完善信息")
           }
        })